<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= form.text_field :item, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Potwiedz', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
