<p id="notice"><%= notice %></p>
<div class="page-header text-center">
<h1>Wszystko do zrobienia</h1>
</div>


    <% @items.each do |item| %>
    <h4>
    <div class="row justify-content-md-center">
  <div class="col-2">
        <%= item.item %>
        </div>
          <div class="col-2 text-right">
        <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_item_path(item) %>
        <%= link_to '<i class="fas fa-check"></i>'.html_safe, item, method: :delete, data: { confirm: 'Jesteś Pewien?' } %>
</div>
</div>
</h4>
    <% end %>



<br>
<div class="text-center">
<%= link_to 'Nowe zadanie', new_item_path %>
</div>
